<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDuNFUo86cYAUU0R4jevJh2Oo486Etj0GM</string>
	<key>GCM_SENDER_ID</key>
	<string>431591033767</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.parkingmate.parkingmate</string>
	<key>PROJECT_ID</key>
	<string>parkingmate-cbe80</string>
	<key>STORAGE_BUCKET</key>
	<string>parkingmate-cbe80.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:431591033767:ios:65ac560842331d9aac0482</string>
</dict>
</plist>